.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #3a3e41; }

.nav-text {
  font-size: 12px;
  font-weight: 500;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-left: 19px; }

.nav-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 57%; }

.nav-item {
  background-color: white;
  border: 1px solid #e9e9e9;
  padding: 8px 13px;
  list-style: none; }
  .nav-item:hover {
    background-color: #f5f5f5; }

.nav-link {
  text-decoration: none;
  color: #737373;
  font-size: 12px;
  font-family: "Lato", sans-serif; }

.nav-logo {
  display: none;
  margin: 6px 30px; }

.navigation-menu {
  padding: 18px 14px; }

.navigation-menu-btn,
.navigation-menu-btn::before,
.navigation-menu-btn::after {
  content: "";
  display: block;
  background-color: white;
  height: 2px;
  width: 16px;
  transition: 0.4s; }

.navigation-menu-btn::before {
  transform: translateY(-4px); }

.navigation-menu-btn::after {
  transform: translateY(2px); }

.navigation-menu:hover {
  background-color: #202529; }

.navigation-menu--active .navigation-menu-btn::before {
  display: none;
  background-color: #23282c; }

.navigation-menu--active .navigation-menu-btn::after {
  transform: rotate(100deg); }

.navigation-menu--active .navigation-menu-btn {
  transform: rotate(-50deg); }

.slogan {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  background: url("../img/header-fon.png") no-repeat center;
  background-size: cover; }
  .slogan-first {
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: "Lato", sans-serif;
    margin-left: 20px;
    margin-top: 16px; }
  .slogan-second {
    font-size: 16px;
    color: white;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    margin-left: 20px;
    margin-top: 7px; }
  .slogan-link {
    font-size: 14px;
    font-weight: 700;
    color: #a6d6e0;
    font-family: "Lato", sans-serif;
    margin-left: 20px;
    margin-top: 3%;
    margin-bottom: 30%; }

.offer-item {
  display: flex;
  margin-top: 2px; }

.offer-item-pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77.7%;
  padding: 20px 0;
  background: url("../img/Pizza.png") no-repeat bottom;
  background-size: cover; }

.offer-pizza-text {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  padding: 28px 0; }

.offer-item-salad {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/salad.png") no-repeat bottom;
  background-size: cover;
  width: 77.7%;
  padding: 20px 0; }

.offer-salad-text {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 28px 0; }

.offer-item-deserts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/Desserts.png") no-repeat top;
  background-size: cover;
  width: 77.7%;
  padding: 20px 0; }

.offer-deserts-text {
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  padding: 28px 0; }

.offer-item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #add6ae;
  width: 22.3%; }

.card-item-arrow-link {
  padding: 41% 40%; }

.link-arrow::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 2px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg); }

.menu-head-logo {
  display: none;
  margin-right: 70px; }

.menu-text-first {
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #48494b;
  letter-spacing: 0.6px; }

.menu-text-second {
  font-family: "Lato", sans-serif;
  margin-left: 10px;
  margin-top: 4px;
  font-size: 10px;
  font-weight: 300;
  color: #cbccce;
  letter-spacing: 0.5px; }

.first-menu-tincidunt-title {
  color: #acd8ad;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  background-color: #434446;
  font-size: 20px;
  font-weight: 300;
  margin-top: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }

.container {
  margin: auto 17px; }

.menu-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; }

.menu-name-title {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #3f4043;
  font-family: "Lato", sans-serif;
  padding-left: 1.5px; }

.menu-item {
  margin-bottom: 13px; }

.menu-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px; }
  .menu-item-head__title {
    font-family: "Lato", sans-serif;
    letter-spacing: -0.2px;
    font-size: 14px;
    font-weight: 300;
    color: #3f4043; }
  .menu-item-head__price {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #3f4043; }
    .menu-item-head__price::before {
      display: inline-block;
      content: "$"; }

.menu-item__text {
  margin-top: 5px;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 9px;
  font-weight: 300;
  color: #3f4043; }

.menu-second-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 11px;
  padding-top: 5px; }
  .menu-second-name__img {
    padding-right: 5px; }

.second-menu-vestibulum {
  margin-bottom: 50px; }

.second-menu-vestibulum-title {
  background-color: #acd8ad;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-top: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
  background-color: #acd8ad; }

.footer-logo {
  display: none;
  margin-left: 30px; }

.footer-text-first {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  font-size: 12px; }

.footer-text-second {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  letter-spacing: -0.5px;
  text-align: center;
  font-size: 13px; }

@media (min-width: 640px) {
  .nav-text {
    font-size: 24px; }

  .nav-menu {
    width: 47%; }

  .nav-link {
    font-size: 14px; }

  .nav-item {
    padding: 16px 26px; }

  .navigation-menu {
    padding: 30px 25px; }

  .slogan-first {
    font-size: 36px;
    margin-left: 30px;
    margin-top: 38px; }

  .slogan-second {
    font-size: 36px;
    margin-left: 30px;
    margin-top: 7px; }

  .slogan-link {
    font-size: 24px;
    margin-left: 30px; }

  .offer-pizza-text {
    font-size: 36px; }

  .offer-salad-text {
    font-size: 36px; }

  .offer-deserts-text {
    font-size: 36px; }

  .menu-text-first {
    font-size: 26px; }

  .menu-text-second {
    font-size: 13px; }

  .first-menu-tincidunt-title {
    font-size: 26px; }

  .menu-name-title {
    font-size: 20px; }

  .menu-item__text {
    font-size: 15px; }

  .menu-item-head__title {
    font-size: 17px; }

  .menu-item-head__price {
    font-size: 17px; }

  .second-menu-vestibulum-title {
    font-size: 26px; }

  .footer {
    padding: 28px 0; }

  .footer-text-first {
    font-size: 18px; }
  .footer-text-second {
    font-size: 18px; } }
@media (min-width: 980px) {
  .nav-text {
    display: none; }

  .nav-logo {
    display: block; }

  .navigation-menu {
    display: none; }

  .nav-menu {
    display: flex;
    width: 85%;
    position: static; }

  .nav-item {
    padding: 40px 32px;
    list-style: none;
    border: none;
    background-color: #393e41; }
    .nav-item:hover {
      background-color: #202529; }

  .nav-link {
    text-transform: uppercase;
    color: white;
    font-size: 15px; }

  .offer-section {
    display: flex;
    justify-content: space-between; }

  .offer-item {
    width: 100%; }

  .offer-item-pizza {
    width: 100%; }

  .offer-pizza-text {
    font-size: 38px;
    padding: 150px 0; }

  .offer-item-salad {
    width: 100%; }

  .offer-salad-text {
    font-size: 38px;
    padding: 150px 0; }

  .offer-item-deserts {
    width: 100%; }

  .offer-deserts-text {
    font-size: 38px;
    padding: 150px 0; }

  .offer-item-arrow {
    display: none; }

  .menu-head {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu-head-logo {
      display: block; }

  .menu-text-first {
    font-size: 30px; }

  .menu-text-second {
    font-size: 15px; }

  .menu-body {
    display: flex; }

  .second-menu-vestibulum-title {
    margin-top: 12px; }

  .footer {
    padding: 7px 0;
    flex-direction: row;
    justify-content: space-between; }
    .footer-logo {
      display: block; }

  .footer-text {
    display: flex;
    margin-right: 30px; }
    .footer-text-first {
      font-size: 18px;
      margin-right: 5px; }
    .footer-text-second {
      font-size: 18px; } }

/*# sourceMappingURL=style.css.map */
